.navbar{
  box-sizing: border-box;
  display: flex;
  height: 8vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-end;
  padding: 1vh 5vw;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-options{
  display: flex;
  width: 30vw;
  justify-content: space-between;
  font-size: 1.3em;
}